@font-face {
  font-family: "Montserrat-Black";
  src: url("/fonts/Montserrat-Black.eot");
  src: url("/fonts/Montserrat-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat-Black.ttf") format("truetype"), url("/fonts/Montserrat-Black.svg#Montserrat-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Montserrat-Bold";
  src: url("/fonts/Montserrat-Bold.eot");
  src: url("/fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat-Bold.ttf") format("truetype"), url("/fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("/fonts/Montserrat-ExtraLight.eot");
  src: url("/fonts/Montserrat-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat-ExtraLight.ttf") format("truetype"), url("/fonts/Montserrat-ExtraLight.svg#Montserrat-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Montserrat-Light";
  src: url("/fonts/Montserrat-Light.eot");
  src: url("/fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat-Light.ttf") format("truetype"), url("/fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Montserrat-Medium";
  src: url("/fonts/Montserrat-Medium.eot");
  src: url("/fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat-Medium.ttf") format("truetype"), url("/fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("/fonts/Montserrat-SemiBold.eot");
  src: url("/fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat-SemiBold.ttf") format("truetype"), url("/fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Montserrat-Thin";
  src: url("/fonts/Montserrat-Thin.eot");
  src: url("/fonts/Montserrat-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat-Thin.ttf") format("truetype"), url("/fonts/Montserrat-Thin.svg#Montserrat-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Montserrat-Regular";
  src: url("/fonts/Montserrat-Regular.eot");
  src: url("/fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Montserrat-Regular.ttf") format("truetype"), url("/fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-Black";
  src: url("/fonts/Raleway-Black.eot");
  src: url("/fonts/Raleway-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Raleway-Black.ttf") format("truetype"), url("/fonts/Raleway-Black.svg#Raleway-Black") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-Bold";
  src: url("/fonts/Raleway-Bold.eot");
  src: url("/fonts/Raleway-Bold.eot?#iefix") format("embedded-opentype"), url("/fonts/Raleway-Bold.ttf") format("truetype"), url("/fonts/Raleway-Bold.svg#Raleway-Bold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-ExtraLight";
  src: url("/fonts/Raleway-ExtraLight.eot");
  src: url("/fonts/Raleway-ExtraLight.eot?#iefix") format("embedded-opentype"), url("/fonts/Raleway-ExtraLight.ttf") format("truetype"), url("/fonts/Raleway-ExtraLight.svg#Raleway-ExtraLight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-Light";
  src: url("/fonts/Raleway-Light.eot");
  src: url("/fonts/Raleway-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Raleway-Light.ttf") format("truetype"), url("/fonts/Raleway-Light.svg#Raleway-Light") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-Medium";
  src: url("/fonts/Raleway-Medium.eot");
  src: url("/fonts/Raleway-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Raleway-Medium.ttf") format("truetype"), url("/fonts/Raleway-Medium.svg#Raleway-Medium") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-SemiBold";
  src: url("/fonts/Raleway-SemiBold.eot");
  src: url("/fonts/Raleway-SemiBold.eot?#iefix") format("embedded-opentype"), url("/fonts/Raleway-SemiBold.ttf") format("truetype"), url("/fonts/Raleway-SemiBold.svg#Raleway-SemiBold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-Thin";
  src: url("/fonts/Raleway-Thin.eot");
  src: url("/fonts/Raleway-Thin.eot?#iefix") format("embedded-opentype"), url("/fonts/Raleway-Thin.ttf") format("truetype"), url("/fonts/Raleway-Thin.svg#Raleway-Thin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Raleway-Regular";
  src: url("/fonts/Raleway-Regular.eot");
  src: url("/fonts/Raleway-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Raleway-Regular.ttf") format("truetype"), url("/fonts/Raleway-Regular.svg#Raleway-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "Proxima-Nova";
  src: url("/fonts/Proxima-Nova.eot");
  src: url("/fonts/Proxima-Nova.eot?#iefix") format("embedded-opentype"), url("/fonts/Proxima-Nova.ttf") format("truetype"), url("/fonts/Proxima-Nova.svg#Proxima-Nova") format("svg");
  font-weight: normal;
  font-style: normal; }
/*----------- Predefined Variables ---------- */
/* Fonts */
/* Colors */
/* Background */
/*----------- Default Css Start ---------- */
body {
  margin: 0;
  padding: 0;
  color: #626262;
  font-family: "Proxima-Nova";
  font-size: 17px;
  background: #eee; }

header.index-header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  color: #fff;
  position: absolute; }

.navbar-default {
  background-color: transparent;
  margin-bottom: 0;
  border: 0 none; }
  .navbar-default .navbar-brand {
    color: #626262;
    padding-left: 0;
    padding-right: 0;
    font-size: 26px;
    text-transform: uppercase; }
  .navbar-default .navbar-nav > li > a {
    font-size: 15px;
    color: #626262;
    font-family: "Montserrat-Regular"; }

.index-header .navbar-default .navbar-brand {
  color: #FFFFFF; }
.index-header .navbar-default .navbar-nav > li > a {
  color: #FFFFFF; }

h1 {
  font-size: 29px;
  line-height: 33px;
  letter-spacing: normal;
  font-family: "Raleway-Light"; }

h4 {
  font-family: "Montserrat-Regular";
  text-transform: uppercase;
  font-size: 15px; }
  h4 select {
    font-family: "Proxima-Nova";
    font-size: 16px; }

a,
a:hover,
a:focus,
a:active {
  outline: 0; }

a:hover {
  text-decoration: none; }

a {
  color: #008bdb; }

a.forgot-pass {
  font-size: 16px;
  text-align: right;
  display: block;
  font-weight: normal;
  margin-top: 10px; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: table; }

.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0;
  border: 0 none;
  background: transparent;
  height: 100%;
  display: table-cell;
  width: 100%;
  vertical-align: middle; }

.modal-open .fade.in {
  height: 100%;
  width: 100%; }

.modal-backdrop.in {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.97); }

.modal-body {
  width: 940px;
  margin: auto; }

.close-btn-wrppaer {
  position: fixed;
  top: 20px;
  right: 20px;
  line-height: 1; }
  .close-btn-wrppaer i.fa.fa-times {
    cursor: pointer; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0; }

.loading-spiner-holder {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 9999;
  text-align: center; }

.loader {
  border: 6px solid #f3f3f3;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg); } }
@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }
.block {
  display: block; }

i.fa,
span.fa {
  margin-right: 6px; }

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background: none;
  border: 0 none; }

label {
  font-family: "Montserrat-Light";
  font-weight: normal; }

input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  width: 40px;
  height: 40px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  position: relative;
  border: 1px solid #ccc; }

input[type="checkbox"]:checked {
  border: 1px solid #008bdb !important;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 2px 2px 0px rgba(0, 139, 219, 0.0725);
  -webkit-transition: border-color ease 1s;
  -o-transition: border-color ease 1s;
  transition: border-color ease 1s; }

input[type="checkbox"]:checked:after {
  content: "\2713";
  color: #008bdb;
  position: absolute;
  font-size: 21px;
  left: 50%;
  font-weight: bold;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
  outline: none;
  border: 1px solid #ccc; }

.error-div.text-center {
  position: absolute;
  height: 150px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }
  .error-div.text-center .big-message {
    font-size: 29px;
    line-height: 33px;
    letter-spacing: normal;
    font-family: "Raleway-Light"; }

button.btn.btn-default.form-button.gray-button {
  width: 100%;
  display: block;
  height: 40px;
  border-radius: 0; }

/*------ Map Css --------*/
.leaflet-right.leaflet-bottom {
  top: 0 !important;
  margin: auto !important;
  width: 34px;
  height: 64px; }

.place-div {
  position: relative; }
  .place-div input#pac-input {
    padding-left: 34px;
    padding-right: 40px; }

.leaflet-control-attribution.leaflet-control {
  display: none; }

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  color: #626262;
  border-radius: 0 0; }
  .leaflet-popup-content-wrapper span, .leaflet-popup-tip span {
    display: block;
    font-size: 16px; }
  .leaflet-popup-content-wrapper span.distance, .leaflet-popup-tip span.distance {
    font-size: 14px; }
  .leaflet-popup-content-wrapper span.center-name, .leaflet-popup-tip span.center-name {
    font-family: 'Raleway-Regular';
    font-size: 18px; }
  .leaflet-popup-content-wrapper span.ratings, .leaflet-popup-tip span.ratings {
    display: inline-block;
    padding: 4px 8px;
    background: green;
    color: #fff;
    line-height: 1;
    margin-top: 10px; }

.leaflet-popup-content {
  margin: 20px; }

.leaflet-container a.leaflet-popup-close-button {
  width: 20px;
  height: 18px;
  color: #000;
  top: -20px;
  right: -20px; }

.leaflet-container .btn.default-btn.book-appoinment-btn {
  color: #fff; }

.leaflet-sidebar {
  width: 350px; }
  .leaflet-sidebar span {
    display: block; }
  .leaflet-sidebar .close {
    right: -41px;
    top: 11px;
    width: 42px;
    height: 44px;
    color: #626262;
    font-size: 30px;
    border-radius: 0;
    line-height: 1.3;
    font-weight: normal;
    opacity: 1;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-top: 2px solid #eee;
    cursor: pointer;
    z-index: 800; }
  .leaflet-sidebar .sidebar-heading {
    padding: 8px 20px;
    text-align: center;
    border-bottom: 2px solid #eee;
    font-size: 16px; }
  .leaflet-sidebar .sidebar-middle-section {
    padding: 10px 20px;
    height: 84%; }
  .leaflet-sidebar h3.center-name.ng-binding {
    font-family: 'Raleway-Light';
    font-size: 29px; }
  .leaflet-sidebar .address {
    font-size: 16px;
    color: #999; }
  .leaflet-sidebar div.pricing {
    margin: 30px 0; }
    .leaflet-sidebar div.pricing span.label-text {
      font-size: 18px;
      font-family: 'Raleway-Light'; }
    .leaflet-sidebar div.pricing span.fare.ng-binding {
      font-size: 16px; }
  .leaflet-sidebar div.reviews {
    margin: 30px 0; }
  .leaflet-sidebar > .leaflet-control {
    border-radius: 0;
    border-color: #e6e6e6 !important;
    padding: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5); }
  .leaflet-sidebar .btn.default-btn.book-appoinment-btn {
    color: #fff;
    width: 100%;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    margin: 0; }

/*----------- Default Css End ---------- */
/*----------- Base Css End ---------- */
.container {
  max-width: 1170px;
  width: 100%; }

.main-app .container {
  width: 100%;
  max-width: 100%;
  padding: 0 40px; }

.input-container input.search-field {
  border-left: 1px solid #ddd;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.input-container .clear-btn {
  position: absolute;
  top: 6px;
  right: 6px;
  display: block;
  width: 16px;
  text-align: center;
  cursor: pointer;
  visibility: hidden;
  color: #333;
  font-size: 28px;
  line-height: 35px; }

.default-btn,
.default-btn:hover,
.default-btn:focus,
.default-btn:active {
  background: #008bdb;
  color: #ffffff;
  letter-spacing: 0px;
  font-size: 16px;
  padding: 10px;
  display: inline-block;
  max-width: 200px;
  width: 100%;
  text-align: center;
  margin: 10px 0;
  border: 0 none;
  outline: none !important;
  border-radius: 0; }

.city-wrapper {
  width: 11%;
  display: inline-block;
  background: #f8f8f8;
  height: 40px;
  vertical-align: top;
  color: #333;
  padding: 11px 10px;
  line-height: 1.2; }

.form-control {
  height: 40px;
  border-radius: 0;
  font-size: 16px;
  font-weight: normal; }

.form-control:focus {
  border-color: #777;
  outline: 0;
  -webkit-box-shadow: 0 0 !important; }

.contact-input {
  display: table;
  border-collapse: separate; }
  .contact-input .contact-code {
    padding: 6px 12px;
    line-height: 1;
    text-align: center;
    display: table-cell;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    background-color: white; }
  .contact-input .contact-code:first-child {
    border-right: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }
  .contact-input .phone {
    display: table-cell;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0; }

.has-error .contact-code {
  border-color: #a94442; }

input.search-field {
  border: 0;
  border-radius: 0;
  display: inline-block;
  width: 80%;
  vertical-align: middle;
  padding: 8px 30px 8px 34px; }

.input-container input.search-field {
  border-left: 1px solid #ddd;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

.pac-container:after {
  display: none; }

.pac-item:first-child,
.pac-item:hover {
  background: #ebf2fe; }

.pac-icon-marker {
  /* display: none; */
  width: 14px;
  height: 14px;
  background: url(/images/search-marker.png) no-repeat;
  background-size: 16px 14px;
  /* margin: 0; */
  margin-right: 0;
  vertical-align: middle;
  margin-top: 0; }

.pac-matched {
  font-weight: 600; }

.pac-item-query,
.pac-item {
  font-size: 14px;
  color: #335b6b;
  padding: 4px 6px;
  text-indent: 4px;
  font-family: "Proxima-Nova"; }

.pac-item-query {
  padding-left: 10px;
  font-family: "Raleway-SemiBold"; }

.btn-social {
  position: relative;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75%;
  font-size: 16px;
  padding: 5px 15px;
  margin: auto;
  margin-bottom: 15px; }

body .btn-google {
  color: #fff;
  background-color: #dd4b39;
  border-color: rgba(0, 0, 0, 0.2);
  border: 0 none;
  border-radius: 0;
  padding: 10px 15px;
  text-align: center; }

body .btn-facebook {
  color: #fff;
  background-color: #517eca;
  border: 0 none;
  border-radius: 0;
  padding: 10px 15px;
  text-align: center; }

.btn-block + .btn-block {
  margin-top: 5px; }

.white-page-section {
  padding: 50px;
  background: #fff;
  margin-bottom: 50px; }

.breadcrumb {
  padding: 20px 0;
  margin-bottom: 0;
  border-radius: 0;
  background: none; }
  .breadcrumb .breadcrumb-item {
    font-size: 14px; }
    .breadcrumb .breadcrumb-item a {
      font-family: "Montserrat-Regular";
      color: #626262; }
  .breadcrumb .breadcrumb-item.active {
    font-family: "Montserrat-Semibold";
    color: #008bdb; }
  .breadcrumb > li + li:before {
    padding-left: 10px; }

article.aside-container .aside-left {
  width: 20%;
  position: fixed;
  height: 100%;
  background: #fff; }
  article.aside-container .aside-left h4 {
    margin-top: 20px; }
article.aside-container .aside-right {
  width: 80%;
  margin-left: 20%; }
  article.aside-container .aside-right h1 {
    margin-top: 0; }

/*----------- Base Css End ---------- */
/*----------- Landing Css End ---------- */
section.hero-section {
  height: 650px;
  background: url("/images/background-1.jpg") no-repeat;
  background-size: cover;
  position: relative; }
  section.hero-section .container.hero-container {
    color: #FFFFFF;
    position: absolute;
    width: 100%;
    margin: auto;
    height: 280px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center; }
  section.hero-section .search-field {
    width: 100%;
    height: 43px; }
  section.hero-section .home-search-div {
    max-width: 780px;
    margin: auto;
    margin-top: 35px;
    width: 100%;
    padding: 0 15px; }
  section.hero-section .home-search-div .input-container {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 54%;
    position: relative; }
  section.hero-section .home-search-div .city-wrapper {
    width: 18%;
    height: 43px; }
  section.hero-section .city-wrapper span {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-size: 15px;
    display: block;
    width: 100%; }
  section.hero-section .home-search-div .home-searc-btn {
    max-width: 105px;
    margin: 0 0;
    height: 43px;
    vertical-align: top; }

span.search-marker-icon {
  width: 36px;
  background: url(/images/search-marker.png) no-repeat;
  background-size: 18px 17px;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  background-position: center; }

.signup-popup-wrapper button.default-btn,
.signup-popup-wrapper .default-btn:hover {
  width: 100%;
  max-width: 100%; }
.signup-popup-wrapper .social-share-container h4 {
  text-align: left;
  padding: 0;
  margin: auto;
  margin-bottom: 20px;
  width: 75%;
  margin-top: 10px; }
.signup-popup-wrapper h3 {
  margin-bottom: 30px; }

.auth-box {
  width: 85%;
  margin: auto; }

.social-share-container {
  padding-top: 50px; }

/*----------- Landing Css End ---------- */
/*----------- Home Css Start ---------- */
.user-locate-btn {
  width: 25%;
  text-align: center;
  float: left;
  padding: 6px 0;
  margin: 16px 0px;
  line-height: 1; }
  .user-locate-btn .locate-btn.fa.fa-map-marker {
    font-size: 22px; }
  .user-locate-btn .locate-btn {
    cursor: pointer; }

.main-app section.auth-header {
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  background: #fff; }

.main-app .navbar.navbar-default .user-name {
  display: inline-block;
  margin-right: 20px;
  font-family: "Raleway-Regular"; }
.main-app .navbar.navbar-default .input-container.auto-search-box {
  width: 70%;
  float: left;
  position: relative;
  margin-left: 4%; }
  .main-app .navbar.navbar-default .input-container.auto-search-box input.search-field {
    border-left: 1px solid #ddd;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-shadow: 0 0;
    border: 0 none;
    height: auto;
    padding-top: 21px;
    padding-bottom: 21px; }
  .main-app .navbar.navbar-default .input-container.auto-search-box .clear-btn {
    top: 0;
    line-height: 24px;
    bottom: 0;
    margin: auto;
    height: 22px; }
.main-app .navbar.navbar-default .input-container.auto-search-box::before,
.main-app .navbar.navbar-default .input-container.auto-search-box::after {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  background: #e6e6e6;
  top: 0;
  bottom: 0;
  left: -20px;
  /* right: 0; */
  margin: auto; }
.main-app .navbar.navbar-default .input-container.auto-search-box::after {
  right: 0;
  left: auto; }
.main-app .navbar.navbar-default .navbar-brand {
  padding: 20px 0;
  min-height: auto;
  height: auto;
  font-family: "Raleway-SemiBold"; }
.main-app .navbar.navbar-default i.fa.fa-angle-down {
  font-size: 19px;
  text-align: center;
  color: #626262; }
.main-app .navbar.navbar-default .navbar-right .dropdown-menu {
  border-radius: 0;
  top: 100%;
  margin-top: 18px;
  width: 100%;
  padding: 0; }
.main-app .navbar.navbar-default .navbar-right .dropdown-menu li a {
  padding: 10px 20px;
  font-family: "Montserrat-Regular"; }

.main-app section.filter-section {
  padding: 20px 0;
  border-bottom: 1px solid rgba(230, 230, 230, 0.7);
  background: #fff; }
  .main-app section.filter-section a {
    color: #626262; }
  .main-app section.filter-section .filters {
    margin-right: 10px;
    font-family: "Montserrat-Regular";
    font-size: 15px; }
    .main-app section.filter-section .filters a:first-child {
      margin-right: 20px;
      padding-right: 20px;
      border-right: 1px solid #e6e6e6; }
    .main-app section.filter-section .filters .fa {
      color: #888; }

section.map-section .map-container {
  margin: 0 -40px; }
  section.map-section .map-container #mapCanvas {
    width: 100%;
    height: 586px; }

section.grid-section {
  background: #eee; }
  section.grid-section .grid-upper-head {
    margin-bottom: 40px; }
  section.grid-section .row.pagination-div {
    margin-top: 50px; }
    section.grid-section .row.pagination-div .view-by {
      margin-top: 24px; }
    section.grid-section .row.pagination-div .pagination-sm > li > a, section.grid-section .row.pagination-div .pagination-sm > li > span {
      padding: 5px 0;
      font-size: 16px;
      width: 40px;
      text-align: center; }
  section.grid-section .grid-item {
    padding: 20px 15px 10px 15px;
    box-shadow: 0 0.5px 0.5px rgba(0, 0, 0, 0.15);
    border: 1px solid #e6e6e6; }
    section.grid-section .grid-item span.center-name {
      font-size: 26px;
      font-family: 'Raleway-Light';
      margin-bottom: 10px;
      display: block; }
    section.grid-section .grid-item .captions.row {
      margin-top: 20px;
      margin-bottom: 20px; }
    section.grid-section .grid-item span.ratings {
      display: inline-block;
      background: green;
      color: #fff;
      padding: 4px 8px;
      margin-right: 10px;
      line-height: 1;
      text-align: center; }
    section.grid-section .grid-item .book-button-section .btn {
      max-width: 100%; }
    section.grid-section .grid-item p {
      margin-bottom: 0; }
  section.grid-section .grid-item:hover {
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.15); }

/*----------- Home Css End ---------- */
/*----------- Partner Css End ---------- */
section.partner-hero-section {
  height: 650px;
  background: url(/images/background-3.jpg) no-repeat;
  background-size: cover;
  position: relative; }
  section.partner-hero-section .container.hero-container {
    width: 36%;
    left: auto;
    height: 410px;
    right: 40px;
    top: 40px;
    position: absolute;
    margin: auto;
    bottom: 0;
    text-align: left; }
  section.partner-hero-section .hero-caption {
    background: #fff;
    padding: 20px 30px;
    border-radius: 0; }
  section.partner-hero-section .input-container .clear-btn {
    line-height: 33px; }

/*----------- Partner Css End ---------- */
/*----------- Partner-Registration Css Start ---------- */
span.partner-text {
  font-size: 16px;
  padding-left: 8px; }

.auth-box.partner-register .sign-up-form {
  margin: 40px 0; }
  .auth-box.partner-register .sign-up-form .location-field {
    margin-bottom: 40px; }
  .auth-box.partner-register .sign-up-form .general-info,
  .auth-box.partner-register .sign-up-form .service-center-info {
    margin-bottom: 30px; }
  .auth-box.partner-register .sign-up-form input[type="radio"],
  .auth-box.partner-register .sign-up-form input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin: 0;
    padding: 0;
    width: 25px;
    height: 25px;
    vertical-align: middle;
    margin-right: 6px; }
  .auth-box.partner-register .sign-up-form .share-btn {
    padding: 10px;
    background: gray;
    color: #fff;
    display: inline-block;
    cursor: pointer; }
  .auth-box.partner-register .sign-up-form .current-location-div p {
    margin: 10px 0;
    color: #999; }

/*----------- Partner-Registration Css End ---------- */
/*----------- Partner-SignIn Css Start ---------- */
.partner-sign-in .aside-left {
  width: 35%;
  height: 100%;
  position: fixed;
  background: url("/images/sample-bg.jpg"); }
.partner-sign-in .aside-right {
  width: 65%;
  margin-left: 35%; }
.partner-sign-in section.auth-section {
  position: relative;
  top: 50px; }
  .partner-sign-in section.auth-section h1 {
    margin-bottom: 40px; }

/*----------- Partner-SignIn Css End ---------- */
/*----------- Forgot Css Start ---------- */
.forgot-page section.auth-section {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }
.forgot-page h1 {
  margin-bottom: 40px; }

.auth-header span.fa.fa-home {
  font-size: 24px; }

/*----------- Forgot Css End ---------- */
/*----------- Reset Css Start ---------- */
.reset-page section.auth-section {
  position: absolute;
  width: 100%;
  height: 300px;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto; }
.reset-page h1 {
  margin-bottom: 40px; }

/*----------- Reset Css End ---------- */
/*----------- Account Css Start ---------- */
.account-section .edit-profile.fa.fa-pencil-square-o {
  padding: 20px 0px;
  font-size: 30px;
  cursor: pointer; }
.account-section .profile.middle {
  text-align: center;
  line-height: 1;
  margin-top: 20px; }
.account-section form.edit-profile-form {
  margin-top: 40px;
  margin-bottom: 40px; }

/*----------- Account Css Start ---------- */
/*----------- Booking Css Start ---------- */
.booking-section .service-center-info h3.center-name {
  font-family: 'Raleway-Light';
  font-size: 26px; }
.booking-section .service-center-info p.center-location {
  font-size: 16px;
  color: #999; }
.booking-section .booking-tabs {
  margin: 40px 0 10px 0; }
.booking-section button.btn.default-btn.prev-btn {
  background-color: gray; }
.booking-section button.btn.default-btn.next-btn {
  float: right; }
.booking-section .booking-track-ul {
  margin: 40px 0; }
  .booking-section .booking-track-ul li {
    margin-bottom: 20px; }
  .booking-section .booking-track-ul .number {
    margin-right: 8px; }
.booking-section ul.nav.nav-tabs {
  display: none; }
.booking-section .well {
  background: transparent;
  min-height: 250px;
  text-align: center; }

/*----------- Booking Css End ---------- */
/*----------- Laptop ----------*/
@media (min-width: 1100px) and (max-width: 1370px) {
  section.hero-section {
    height: 650px; }

  section.map-section .map-container #mapCanvas {
    height: 534px; } }
@media (min-width: 801px) {
  .main-app .navbar-header.left-section {
    width: 20%; }

  .main-app .navbar.navbar-default .middle-section {
    width: 50%;
    float: left;
    padding: 0; }

  ul.nav.navbar-nav.navbar-right.right-section {
    padding: 19px 0; } }
@media (max-width: 800px) {
  .main-app .container {
    padding: 0 15px; }

  .breadcrumb {
    padding: 20px 15px; } }

/*# sourceMappingURL=style.css.map */
