extends ../layout

block content        
    table(width='700', cellpadding='0', cellspacing='0', style="margin:0 auto; border:1px solid silver;background: #f5f5f5;font-family: 'Roboto', sans-serif;")
        tr
            td
                table(width='600', cellpadding='0', cellspacing='0', style="margin:0 auto; font-family: 'Roboto', sans-serif; font-weight:300; font-size:14px;")
                    tr
                        td(height='40')
                    tr
                        td(style='font-size:30px;') LOGO
                    tr
                        td(height='40')
                    tr
                        td(style='font-weight:400; font-size:16px;') Password Change
                    tr
                        td(style='border-bottom:1px solid silver;', valign='top', height='10')
                    tr
                        td(height='30')
                    tr
                        td Dear #{emailData.fullName},
                    tr
                        td(height='20')
                    tr
                        td The password for your MVS Account #{emailData.userEmail} was recently changed.
                    tr
                        td(height='10')
                    tr
                        td 
                            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            | tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                    tr
                        td(height='10')
                    tr
                        td Don't recognize this activity?
                    tr
                        td(height='10')
                    tr
                        td
                            a(href='mailto:info0.mvs@gmail.com') Write us
                            |  to report this.
                    tr
                        td(height='30')
                    tr
                        td(style='font-weight:500;')
                            span Regards,
                            br
                            span MVS Manger
                    tr
                    td(height='40')
        tr
            td
                table(width='100%', style='background:#dadada', cellspacing='0', cellpadding='0')
                    tr
                        td
                            table(width='640', cellpadding='0', cellspacing='0', style="margin:0 auto; font-family: 'Roboto', sans-serif; font-weight:300; font-size:14px;background:#76C3EF;")
                                tr
                                    td(height="10")
                                tr
                                    td(width="20")
                                    td(style='font-size:16px;color:#fff;')
                                        span For any queries, please write to us at  
                                        a(href='mailto:info0.mvs@gmail.com', style='color:#fff;') info0.mvs@gmail.com
                                tr
                                    td(height="10")
        tr
            td(height='40')

