extends layout

block content
	div.error-div.text-center
		h1 404
		p.big-message Sorry but we couldnt find this page
		p This page you are looking for does not exsist,&nbsp;
			a(href="/") Go to Home
